*.iml
.gradle/
/local.properties
local.properties
.idea/
.DS_Store

# Build Outputs & Binary Packages
build/
*/build/
app/build/
app/release/
*.apk
*.ap_
*.aab
*.dex
*.class

# Signing Keystores (Security Critical)
*.jks
*.keystore

# Native & Profiling
/captures
.externalNativeBuild
.cxx

# Local Agentic Cache
.agents
